# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [89]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [46]:
# Your code here:
salaries=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [47]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [48]:
#How many nulls in each column of Current_Employee_Names__Salaries__and_Position_Titles
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [49]:
#Number of rows and columns
salaries.shape

(33183, 8)

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [50]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [51]:
salaries['Department'].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

In [52]:
salaries.groupby('Department')['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [53]:
"""H0: Hourly wage of all hourly workers isn't significantly different from $30/hr 
vs 
H1: Hourly wage of all hourly workers is significantly different from $30/hr
alpha= 0.05

In [54]:
import scipy.stats as st
sample=salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(100)
st.ttest_1samp(sample,30)

TtestResult(statistic=1.0854667433688814, pvalue=0.2803510920868235, df=99)

In [55]:
#since p value is lower than 0.05, we can conclude that 
#Hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [104]:
#H0: μ<=86000 vs H1: μ>86000
#alpha= 0.05
police=salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly'] == 'Salary')]
police_salaries = police['Annual Salary'].dropna().sample(100)
st.ttest_1samp(police_salaries,86000,alternative='greater')

TtestResult(statistic=3.070175515440629, pvalue=0.0013806630050933744, df=99)

In [ ]:
"""p value<0.05 so we reject the null hypothesis.
This indicates that salaries this year are higher than last year's mean of $86000/year 
a year for all salaried employees"""

Using the `crosstab` function, find the department that has the most hourly workers.

In [69]:
# the department that has the most hourly workers
hourly_workers=salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_count = pd.crosstab(index=hourly_workers['Department'], columns='Count')
most_hourly_workers_department = hourly_count['Count'].idxmax()
print("The department with the most hourly workers is:", most_hourly_workers_department)

The department with the most hourly workers is: STREETS & SAN

The crosstab function creates a table (DataFrame) that shows the count of occurrences for each combination of the values in the specified index and columns. Here, index=hourly_workers['Department'] means that the rows of the resulting table are the unique values from the 'Department' column of the hourly_workers DataFrame. columns='Count' is a placeholder to create a single column named 'Count' that will contain the number of occurrences for each department.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [86]:
#H0: μ>=$35/hour vs H1: μ<$35/hour
#alpha= 0.05
one_department=salaries[salaries['Department']== most_hourly_workers_department]
department=one_department['Hourly Rate'].dropna().sample(100)
st.ttest_1samp(department,35,alternative='less')

TtestResult(statistic=-2.6307676528597823, pvalue=0.004940496720105946, df=99)

In [ ]:
"""p value=0.0049<0.005 so we reject the null hypothesis.
This indicates that The workers from the department with the most hourly workers 
have a hourly wage below than $35/hour. """

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [95]:
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']

# Calculate the sample mean of the hourly wages
mean_hourly_wage = hourly_workers['Hourly Rate'].mean()

# Calculate the standard error of the hourly wages
std_error = st.sem(hourly_workers['Hourly Rate'])

# Calculate the 95% confidence interval
confidence_interval = st.t.interval(
    0.95,  # confidence level
    len(hourly_workers) - 1,  # degrees of freedom
    loc=mean_hourly_wage,  # mean
    scale=std_error  # standard error
)

print("95% confidence interval for the mean hourly wage:", confidence_interval)

95% confidence interval for the mean hourly wage: (32.52345834488425, 33.05365708767623)

In [ ]:
"""st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data)) 
st.sem computes standard error of the mean
"""

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [109]:
mean_police_salaried=police['Annual Salary'].dropna().mean()
std_error = st.sem(police['Annual Salary'].dropna())


confidence_interval = st.t.interval(
    0.95,  # confidence level
    len(police) - 1,  # degrees of freedom
    loc=mean_police_salaried,  # mean
    scale=std_error  # standard error
)

print("95% confidence interval for the mean hourly wage:", confidence_interval)

95% confidence interval for the mean hourly wage: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [112]:
from statsmodels.stats.proportion import proportions_ztest

count=hourly_workers.shape[0]
nobs = salaries.shape[0]

# Hypothesized proportion
value = 0.25

# Perform the proportions z-test
stat, pval = proportions_ztest(count, nobs, value)


alpha = 0.05
if pval < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: The proportion of hourly workers is not significantly different from 25%.")

Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.

In [114]:
pval

0.00044811272490579676